:root {
    --bg-color: #0f172a;
    --card-bg: #1e293b;
    --text-color: #f8fafc;
    --accent-color: #38bdf8;
    --transition-speed: 0.4s;
}

/* Variables para Modo Claro */
.light-mode {
    --bg-color: #f1f5f9;
    --card-bg: #ffffff;
    --text-color: #1e293b;
    --accent-color: #0284c7;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: 100dvh;
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

.container {
    width: 100%;
    max-width: 450px;
    padding: 40px 20px;
    text-align: center;
}

.theme-switch-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.theme-btn {
    background: var(--card-bg);
    color: var(--text-color);
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s, background-color var(--transition-speed);
}

.theme-btn:hover {
    transform: rotate(15deg) scale(1.1);
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    margin-bottom: 16px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.link-card {
    background-color: var(--card-bg);
    color: var(--text-color);
    text-decoration: none;
    padding: 18px;
    border-radius: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    transition: all 0.3s ease;
}

.link-card:hover {
    transform: translateY(-3px);
    border-color: var(--accent-color);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.insta-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.insta-item {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 8px;
}

.insta-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.insta-item img:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

@media (max-width: 480px) {
  .insta-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 70%;
}